.footer {
    width: 100%;
    padding: 0 6rem 0 6rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.inner {
    width: 100%;
    max-width: var(--outer-elt-max-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font-opensans);
}

.inner b {
    font-size: 1.5rem;
}

.lastline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lastline p {
    align-items: center;
}

.card {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}
  
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}
@media (max-width: 700px) {
    .inner b {
        padding-bottom: .75rem;
        text-align: center;
    }
    .lastline {
        flex-direction: column;
        align-items: center;
    }
}