.footer {
    width: 100%;
    padding: 0 6rem 0 6rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.inner {
    width: 100%;
    max-width: var(--outer-elt-max-width);
}

.inner b {
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .footer {
        padding: 0;
    }
}