.button {
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    border-radius: 20px;
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.button arrow {
    display: inline-block;
    transition: transform 200ms;
}

.button h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.button p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
    text-wrap: balance;
    font-family: var(--font-opensans);
}

.left {
    align-self:first baseline;
    width: fit-content;
    display: block;
}

.hbWrapper {
    width: 90%;
}