.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
  min-height: 100vh;
  align-self: center;
  width: 100%;
  max-width: 70vw;
  justify-self: center;
}

.sectionHeader {
  padding-top: 7vh;
  padding-bottom: 3vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.25rem;
  max-width: var(--outer-elt-max-width);
  width: 100%;  
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.intro { 
  width: 90%;
}

.intro p {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
}

.desc {
  width: 90%;
}

.desc p {
  font-size: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
  row-gap: 5em;
}

.button {
  padding: 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  display: flex;
  align-items: center;
}

.button p {
  margin-left: .5rem;
}
  
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .button:hover span {
        transform: translateX(4px);
    }
}

.sub {
  margin-top: 1rem;
}

.sub ul {
  margin-top: .25rem;
  list-style-position: inside;
}
.sub li {
  margin-left: 1em;
  margin-top: .25em;
}

.sub ul li::marker {
  content: "- "
}

.center {
  margin-top: 20vh;
  margin-bottom: 5vh; 
  width: 80%;
  min-width: 30rem;
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
  .mainSplit {
    flex-direction: column;
    justify-content: center;
  }
  .intro, .desc {
    width: fit-content;
    max-width: 75vw;
    text-align: center;
  }

  .intro p, .desc p {
    width: fit-content;
    text-align: center;
  }

  .intro p{
    font-size: 4rem;
  }

  .desc p {
    font-size: 1.25rem;
  }

  .main {
    padding: 2rem;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .description {
    font-size: 1rem;
  }

  .description p {
    padding: 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Tablet or Smaller */
/* @media (min-width: 0px) and (max-width: 1120px) {
  
} */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
